#tabuleiro{
    width:400px;
    height:400px;
    border:solid 1px;
}
:root{
    --branco: #fff;
    --preta: #626de3;
}
.linha{
    height: 50px;
}
.casa{
    width: 50px;
    height: 100%;
    float: left;
    cursor: pointer;
}
.casa_branca{
    background-color: #fff;
}
.casa_preta{
    background-color: #626de3;
}
.casa_selecionada{
    background-color: calc(--cor+rgba(0,0,0,0.5));
}
.questao{
    display: none;
}