@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --palheta1c1: #e2fdff;
    --palheta1c2: #9bb1ff;
    --palheta1c3: #788bff;
    --palheta1c4: #5465ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
main{
    background-color: var(--palheta1c4);
    min-height: 100vh;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#tabuleiro{
    margin: 10px auto;
    width:400px;
    height:400px;
    border:solid 1px;
    align-items: center;
}
.linha{
    height: 50px;
}
.casa{
    width: 50px;
    height: 100%;
    float: left;
    cursor: pointer;
}
.casa_branca{
    background-color: #fff;
}
.casa_preta{
    background-color: var(--palheta1c2);
}
.questao{
    display: none;
}
  
body{
    height: 100vh;
    background-color: var(--palheta1c4);
}
  
body h2{
    color: #000000;
}
section{
    background-color: #fff;
    padding: 10px;
    width: 45%;
    height: 90vh;
}
  
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
  
.spnQtd{
    text-align: end;
}
  
.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--palheta1c3);
    color: #fff;
}
.buttonCorrect{
    background-color: #ff7b2f;
    transition: 1s;
}
  
.finish{
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish button{
    text-align: center;
}